@import "tailwindcss";

@layer utilities {
  .glass-header {
    @apply bg-black/60 backdrop-blur-md border-b border-white/10;
  }
}

body {
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom Scrollbar for a premium look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}